<!DOCTYPE html>
<html lang="en">

<head>
  <title>Help</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
  <div class="main-content">
    {{>header}}
    {{helpMsg}}
    <br><br>
    <img class="portrait" src="/img/robot.png">
    <p>Link to GitHub: <a href="https://github.com/panxman/nodejs-weather-app" target="_blank">here</a></p>
  </div>

  {{>footer}}
</body>

</html>